body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(239, 244, 236);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* h1,
h2,
h3,
h4,
h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */

.navbar {
  background-color: #004c4c;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  width: 100vw;
}

.navbar img {
  height: 5em;
  width: auto;
}

.navbar button {
  border-radius: 4px;
  padding: 10px 15px;
  border: none;
  text-align: center;
  color: rgb(0, 6, 4);
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.active {
  background-color: #004c4c;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
}

.navbar button:hover {
  background-color: #004c4c;
  color: #fff;
  border: 1px solid #fff;
}

.main-content {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: #004c4c;
  color: #fff;
  padding: 20px 40px;
  height: 80vh;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 10px;
  margin-right: 60px;
}

.sidebar button {
  background-color: rgb(239, 244, 236);
  border-radius: 4px;
  padding: 10px 15px;
  border: none;
  text-align: center;
  color: rgb(0, 6, 4);
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
  width: 150px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.sidebar button:hover {
  background-color: #004c4c;
  color: #fff;
  border: 1px solid #fff;
}

.sidebar li {
  list-style-type: none;
}

.sidebar ul {
  padding: 0;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #004c4c;
  color: #fff;
  height: 10vh;
  padding: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  opacity: 85%;
}

.property-container {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 65%;
  max-width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  margin-top: 3px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  color: #004c4c;
}

.infos-text {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.property-container img {
  height: 25vh;
  width: 30vh;
  margin-right: 50px;
  border-radius: 5px;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
}

.property-container h1 {
  font-size: 1.8vw;
  text-align: left;
  max-width: 500px;
}

.property-container h3 {
  font-size: 1.5vw;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}

#verified {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8px;
  font-size: 15px;
  /* border: 0.5px solid black; */
  border-radius: 3px;
  padding: 15px;
  background-color: rgb(239, 244, 236);
  width: 35%;
  margin: 10px, 3px;
}

#labels {
  display: flex;
  width: 30%;
  margin: 10px 0px;
  justify-content: center;
  box-shadow: #888;
  align-items: flex-start;
}

.great-deals {
  background-color: #9df3b7;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.premium {
  background-color: #84ccfa;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
}

.vip {
  background-color: #c3a3f6;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.delete-button {
  background-color: rgba(224, 77, 77, 0.512);
  border-radius: 5px;
  /* border: 0.5px solid black; */
  /* color: rgb(0, 6, 4); */
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
  padding: 7px;
  width: 20%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.founders img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.founders {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.founder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content p {
  font-size: 20px;
  width: 1000px;
}

.founder img {
  margin-top: 60px;
  transition: border 0.3s ease; /* for a smooth transition */
}

.founder img:hover {
  border: 5px solid rgb(6, 103, 67); /* the border color when hovering over the image */
}

.founder a {
  text-decoration: none;
  color: inherit;
  margin-top: 15px;
}

.property-links {
  text-decoration: none;
  color: inherit;
}

.property-links:hover {
  color: #3498db; /* Replace #3498db with your desired color */
}

.add-property {
  font-size: 20px;
  margin-left: 250px;
}

.add-property h4 {
  font-size: 30px;
  color: aliceblue;
  background-color: #004c4c;
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin: 5px;
  width: 500px;
}

form button {
  margin: 30px;
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
}

/*property details styling below*/

/* Property Details Styling */
.property-details-container {
  width: 80%;
  margin: 20px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.property-details-title {
  font-size: 2em;
  color: #333;
  font-weight: bold;
  margin-bottom: 30px;
}

.property-details-locations {
  font-size: 1.5em;
  color: #666;
  margin-bottom: 30px;
}

.property-details-span {
  display: flex;
  gap: 10px;
  color: #555;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.property-details-span span {
  padding-right: 8px;
  border-right: 1px solid #ddd;
}

.property-details-span span:last-child {
  border-right: none;
}

.property-details-summary {
  font-size: 1em;
  color: #666;
  margin-bottom: 30px;
  width: 90%;
}

.property-details-image {
  width: 60%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: #888;
}

/* .infos-text {
  font-size: 1.2em;
  color: #e63946;
  font-weight: bold; */

.property-details-price {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
}

/* Host Information */
.property-details-host-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.property-details-host-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.property-details-host-info h3 {
  font-size: 1.2em;
  color: #333;
}

.property-details-host-info p {
  font-size: 0.9em;
  color: #888;
}

/* Amenities */
.property-details-amenities {
  margin-top: 20px;
}

.property-details-amenities h4 {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 10px;
}

.property-details-amenities ul {
  list-style-type: none;
  padding: 0;
}

.property-details-amenities li {
  font-size: 0.9em;
  color: #666;
  padding: 5px 0;
}

#property-detail-verified {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  border: 0.55px solid black;
  border-radius: 5px;
  color: #888;
  width: 10%;
}

.update-button {
  margin: 30px 0;
  padding: 10px;
  border-radius: 20px;
  width: 100px;
  text-align: center;
}
